/*











Template: potenza global solutions defualt





Author: potenza global solutions defualt





Version: 2.0





Design and Developed by: potenza global solutions defualt











NOTE: This is main stylesheet of template, This file contains the styling for the actual Template. Please do not change anything here! write in a custom.css file if required!











*/











 





/*================================================





[  Table of contents  ]





================================================





 





:: General





:: font weight 





:: Page section 





:: Section title





:: Button 





:: background color





:: Text color





:: Text color





:: Input





:: UL List Color Style

















======================================





[ End table content ]





======================================*/











/*************************





		General





*************************/





body {font-family: 'Open Sans', sans-serif; background: #edecec; font-weight: normal; font-style: normal; font-size: 14px; color: #666666; line-height: 24px;}





a, li, .btn, img{ -webkit-transition: all 0.4s ease-out 0s; -moz-transition: all 0.4s ease-out 0s; -ms-transition: all 0.4s ease-out 0s; -o-transition: all 0.4s ease-out 0s;





	transition: all 0.4s ease-out 0s; }





.btn:active { box-shadow: none !important; }





a:focus { text-decoration: none !important; }





a:focus, a:hover { color: #16be48; text-decoration: none ; box-shadow: none !important; text-shadow: none !important; }





a, button, input { outline: medium none !important; color: #16be48; }





h1, h2, h3, h4, h5, h6 { font-weight: bold; margin-top: 0px; }





h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit; }





h1 { font-size: 36px; font-style: normal; margin: 0 0 5px; font-weight: 600; color: #1f282d;}





h2 { font-size: 32px; font-style: normal; margin: 0 0 30px; font-weight: 600; color: #1f282d;}





h3 { font-size: 26px; font-style: normal; margin: 0 0 20px; font-weight: 600; color: #1f282d;}





h4 { font-size: 22px; font-style: normal; margin: 0 0 20px; font-weight: 600; color: #1f282d;}





h5 { font-size: 18px; font-style: normal; font-weight: 700; color: #ffffff; margin: 0; padding: 15px 12px;}





h6 { font-size: 18px; font-style: normal;}





ul { margin: 0px; padding: 0px; }





ul li{margin: 0; padding: 0;}





.list-inline{margin-left: 0;}





.list-inline > li{padding: 0;}





p{margin-bottom: 0;}

















*::-moz-selection { background: #1e2327; color: #ffffff; text-shadow: none; }





::-moz-selection { background: #1e2327; color: #ffffff; text-shadow: none; }





::selection { background: #1e2327; color: #ffffff; text-shadow: none; }





section{overflow: hidden;}











/***************************





Page section margin padding 





****************************/





.page-section-ptb { padding: 50px 0; }

#searchtemplate{color: #ffffff;}








/*************************





		background color





*************************/











.white-bg{background-color:#ffffff;}





.green-bg{background-color:#16be48 !important;}





.black-bg{background-color:#1f282d;}





.gray-bg{background-color:#edecec;}





.light-gray-bg{background-color:#f8f8f8;}





.fb-bg{background: #4666b1 !important;}





.twt-bg{background: #28a9e0 !important;}





.google-bg{background: #d94a3c !important;}

















/*************************





		Text color





*************************/





.text-green{color: #16be48;}





.text-blue { color: #2874f0 !important; }





.text-white { color: #ffffff; }





.text-black { color: #1f282d !important; }







/*********************************************



font face



/*********************************************/









/* This stylesheet generated by Transfonter (http://transfonter.org) on October 25, 2016 6:50 AM */


@font-face {

	src: url('../fonts/Bangers-Regular.eot');

	src: url('../fonts/Bangers-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/Bangers-Regular.woff') format('woff'),

		url('../fonts/Bangers-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    
    font-family: 'Bangers';

}



@font-face {

	

	src: url('../fonts/Kavoon-Regular.eot');

	src: url('../fonts/Kavoon-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/Kavoon-Regular.woff') format('woff'),

		url('../fonts/Kavoon-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    
    font-family: 'Kavoon';

}



@font-face {

	src: url('../fonts/Fascinate.eot');

	src: url('../fonts/Fascinate.eot?#iefix') format('embedded-opentype'),

		url('../fonts/Fascinate.woff') format('woff'),

		url('../fonts/Fascinate.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    	font-family: 'Fascinate';

}



@font-face {


	src: url('../fonts/BerkshireSwash-Regular.eot');

	src: url('../fonts/BerkshireSwash-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/BerkshireSwash-Regular.woff') format('woff'),

		url('../fonts/BerkshireSwash-Regular.ttf') format('truetype');

	font-weight: bold;

	font-style: normal;
    
    font-family: 'Berkshire Swash';

}



@font-face {


	src: url('../fonts/BalooPaaji.eot');

	src: url('../fonts/BalooPaaji.eot?#iefix') format('embedded-opentype'),

		url('../fonts/BalooPaaji.woff') format('woff'),

		url('../fonts/BalooPaaji.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    
    font-family: 'BalooPaaji';

}



@font-face {

	

	src: url('../fonts/Yesteryear-Regular.eot');

	src: url('../fonts/Yesteryear-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/Yesteryear-Regular.woff') format('woff'),

		url('../fonts/Yesteryear-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    font-family: 'Yesteryear';

}



@font-face {



	src: url('../fonts/Impact.eot');

	src: url('../fonts/Impact.eot?#iefix') format('embedded-opentype'),

		url('../fonts/Impact.woff') format('woff'),

		url('../fonts/Impact.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    	font-family: 'Impact';

}



@font-face {



	src: url('../fonts/LuckiestGuy-Regular.eot');

	src: url('../fonts/LuckiestGuy-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/LuckiestGuy-Regular.woff') format('woff'),

		url('../fonts/LuckiestGuy-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    
    font-family: 'Luckiest Guy';

}



@font-face {

	font-family: 'Kalam';

	src: url('../fonts/Kalam-Light.eot');

	src: url('../fonts/Kalam-Light.eot?#iefix') format('embedded-opentype'),

		url('../fonts/Kalam-Light.woff') format('woff'),

		url('../fonts/Kalam-Light.ttf') format('truetype');

	font-weight: 300;

	font-style: normal;
	    font-family: 'Kalam';

}



@font-face {

	src: url('../fonts/Kalam-Bold.eot');

	src: url('../fonts/Kalam-Bold.eot?#iefix') format('embedded-opentype'),

		url('../fonts/Kalam-Bold.woff') format('woff'),

		url('../fonts/Kalam-Bold.ttf') format('truetype');

	font-weight: bold;

	font-style: normal;
    font-family: 'Kalam';

}



@font-face {

	src: url('../fonts/Kalam-Regular.eot');

	src: url('../fonts/Kalam-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/Kalam-Regular.woff') format('woff'),

		url('../fonts/Kalam-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    font-family: 'Kalam';

}



@font-face {


	src: url('../fonts/MrDafoe-Regular.eot');

	src: url('../fonts/MrDafoe-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/MrDafoe-Regular.woff') format('woff'),

		url('../fonts/MrDafoe-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    
    font-family: 'Mr Dafoe';

}



@font-face {

	font-family: 'Carter One';

	src: url('../fonts/CarterOne.eot');

	src: url('../fonts/CarterOne.eot?#iefix') format('embedded-opentype'),

		url('../fonts/CarterOne.woff') format('woff'),

		url('../fonts/CarterOne.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;

}



@font-face {



	src: url('../fonts/Chango-Regular.eot');

	src: url('../fonts/Chango-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/Chango-Regular.woff') format('woff'),

		url('../fonts/Chango-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    
   	font-family: 'Chango';
}



@font-face {



	src: url('../fonts/Limelight.eot');

	src: url('../fonts/Limelight.eot?#iefix') format('embedded-opentype'),

		url('../fonts/Limelight.woff') format('woff'),

		url('../fonts/Limelight.ttf') format('truetype');

	font-weight: 300;

	font-style: normal;
    	font-family: 'Limelight';

}



@font-face {


	src: url('../fonts/SunsetMedium.eot');

	src: url('../fonts/SunsetMedium.eot?#iefix') format('embedded-opentype'),

		url('../fonts/SunsetMedium.woff') format('woff'),

		url('../fonts/SunsetMedium.ttf') format('truetype');

	font-weight: 500;

	font-style: normal;
    
	font-family: 'Sunset';

}



@font-face {

	

	src: url('../fonts/Coiny-Regular.eot');

	src: url('../fonts/Coiny-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/Coiny-Regular.woff') format('woff'),

		url('../fonts/Coiny-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    font-family: 'Coiny';

}



@font-face {



	src: url('../fonts/CraftyGirls.eot');

	src: url('../fonts/CraftyGirls.eot?#iefix') format('embedded-opentype'),

		url('../fonts/CraftyGirls.woff') format('woff'),

		url('../fonts/CraftyGirls.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    	font-family: 'Crafty Girls';

}



@font-face {



	src: url('../fonts/LilyScriptOne-Regular.eot');

	src: url('../fonts/LilyScriptOne-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/LilyScriptOne-Regular.woff') format('woff'),

		url('../fonts/LilyScriptOne-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    	font-family: 'Lily Script One';

}



@font-face {

	

	src: url('../fonts/FingerPaint-Regular.eot');

	src: url('../fonts/FingerPaint-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/FingerPaint-Regular.woff') format('woff'),

		url('../fonts/FingerPaint-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    font-family: 'Finger Paint';

}



@font-face {

	

	src: url('../fonts/Baloo-Regular.eot');

	src: url('../fonts/Baloo-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/Baloo-Regular.woff') format('woff'),

		url('../fonts/Baloo-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
font-family: 'Baloo';
}



@font-face {

	

	src: url('../fonts/FasterOne-Regular.eot');

	src: url('../fonts/FasterOne-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/FasterOne-Regular.woff') format('woff'),

		url('../fonts/FasterOne-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    font-family: 'Faster One';

}



@font-face {

	font-family: 'Rubik Mono One';

	src: url('../fonts/RubikMonoOne-Regular.eot');

	src: url('../fonts/RubikMonoOne-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/RubikMonoOne-Regular.woff') format('woff'),

		url('../fonts/RubikMonoOne-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;

}



@font-face {

	

	src: url('../fonts/BowlbyOneSC-Regular.eot');

	src: url('../fonts/BowlbyOneSC-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/BowlbyOneSC-Regular.woff') format('woff'),

		url('../fonts/BowlbyOneSC-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    font-family: 'Bowlby One SC';

}



@font-face {

	

	src: url('../fonts/TitanOne.eot');

	src: url('../fonts/TitanOne.eot?#iefix') format('embedded-opentype'),

		url('../fonts/TitanOne.woff') format('woff'),

		url('../fonts/TitanOne.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    font-family: 'Titan One';

}



@font-face {

	

	src: url('../fonts/PermanentMarker.eot');

	src: url('../fonts/PermanentMarker.eot?#iefix') format('embedded-opentype'),

		url('../fonts/PermanentMarker.woff') format('woff'),

		url('../fonts/PermanentMarker.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
font-family: 'Permanent Marker';
}



@font-face {

	

	src: url('../fonts/Slackey.eot');

	src: url('../fonts/Slackey.eot?#iefix') format('embedded-opentype'),

		url('../fonts/Slackey.woff') format('woff'),

		url('../fonts/Slackey.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    font-family: 'Slackey';

}



@font-face {

	

	src: url('../fonts/SeaweedScript-Regular.eot');

	src: url('../fonts/SeaweedScript-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/SeaweedScript-Regular.woff') format('woff'),

		url('../fonts/SeaweedScript-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    font-family: 'Seaweed Script';

}



@font-face {



	src: url('../fonts/GochiHand-Regular.eot');

	src: url('../fonts/GochiHand-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/GochiHand-Regular.woff') format('woff'),

		url('../fonts/GochiHand-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    	font-family: 'Gochi Hand';

}



@font-face {

	

	src: url('../fonts/Bevan.eot');

	src: url('../fonts/Bevan.eot?#iefix') format('embedded-opentype'),

		url('../fonts/Bevan.woff') format('woff'),

		url('../fonts/Bevan.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    font-family: 'Bevan';

}



@font-face {

	

	src: url('../fonts/Aclonica-Regular.eot');

	src: url('../fonts/Aclonica-Regular.eot?#iefix') format('embedded-opentype'),

		url('../fonts/Aclonica-Regular.woff') format('woff'),

		url('../fonts/Aclonica-Regular.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    font-family: 'Aclonica';

}



@font-face {



	src: url('../fonts/BalooTamma.eot');

	src: url('../fonts/BalooTamma.eot?#iefix') format('embedded-opentype'),

		url('../fonts/BalooTamma.woff') format('woff'),

		url('../fonts/BalooTamma.ttf') format('truetype');

	font-weight: normal;

	font-style: normal;
    	font-family: 'BalooTamma';

}









/*********************************************





		button 





/*********************************************/











.big-btn{font-size: 20px; min-width: 320px; height: 50px; padding: 0; line-height: 50px;}

















/****************************/





/* Header Default */





/****************************/











/* Main Header */





.site-header{z-index:99; width:100%; background: #334455; padding:15px 0 65px;}





.site-header > .navbar{-webkit-transition:0.3s; -moz-transition:0.3s; transition: 0.3s;}





.site-header.affix{top:0; width:100%; z-index:999; background:#1e1e1e; padding:10px 0;}





.site-header a{color: #ffffff;}











/* Main Menu */





.navbar{background:none; border:none; margin:0; min-height: inherit; border-radius: 0;} 





.navbar-collapse{padding: 0;}











.navbar-nav > li {width: 195px; height: 50px; position: relative; overflow: hidden;}











.navbar-default .navbar-nav > li.menu-1:before{background: #022451 url(../images/menu-pattent-1.png) no-repeat right top; background-position: 60px -30px; position: absolute; content: ""; left: 0; width: 100%; height: 114px;}





.navbar-default .navbar-nav > li.menu-2:before{background: #d6b100 url(../images/menu-pattent-2.png) no-repeat right top; background-position: 60px -30px; position: absolute; content: ""; left: 0; width: 100%; height: 114px;}





.navbar-default .navbar-nav > li.menu-3:before{background: #00b0d7 url(../images/menu-pattent-3.png) no-repeat right top; background-position: 70px 10px; position: absolute; content: ""; left: 0; width: 100%; height: 114px;}





.navbar-default .navbar-nav > li.menu-4:before{background: #16be48 url(../images/menu-pattent-4.png) no-repeat right top; background-position: 60px -30px; position: absolute; content: ""; left: 0; width: 100%; height: 114px;}





.navbar-default .navbar-nav > li.menu-5:before{background: #2874f0 url(../images/menu-pattent-5.png) no-repeat right top; background-position: 10px -10px; position: absolute; content: ""; left: 0; width: 100%; height: 114px;}





.navbar-default .navbar-nav > li.menu-6:before{background: #ff6633 url(../images/menu-pattent-6.png) no-repeat right top; background-position: 80px -25px; position: absolute; content: ""; left: 0; width: 100%; height: 114px;}











.navbar-default .navbar-nav > li.menu-1:before, .navbar-default .navbar-nav > li.menu-2:before, .navbar-default .navbar-nav > li.menu-3:before, .navbar-default .navbar-nav > li.menu-4:before, .navbar-default .navbar-nav > li.menu-5:before, .navbar-default .navbar-nav > li.menu-6:before{ -webkit-transition: all 0.4s ease-out 0s; -moz-transition: all 0.4s ease-out 0s; -ms-transition: all 0.4s ease-out 0s; -o-transition: all 0.4s ease-out 0s;





	transition: all 0.4s ease-out 0s; }





.navbar-default .navbar-nav > li:hover.menu-1:before, .navbar-default .navbar-nav > li:hover.menu-2:before, .navbar-default .navbar-nav > li:hover.menu-3:before, .navbar-default .navbar-nav > li:hover.menu-4:before, .navbar-default .navbar-nav > li:hover.menu-5:before, .navbar-default .navbar-nav > li:hover.menu-6:before{transform: scale(1.2);}











.navbar-default .navbar-nav > li > a{color: #ffffff; display: inline-block; font-weight: 600; cursor: pointer;  overflow: hidden;  padding: 0; vertical-align: top; margin: 16px 0;}











/* Menu Hover, Active, Focus */





.navbar .nav > li.active a{font-weight: bold;}





.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{background: none; color: #ffffff;}





.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{color: #ffffff;}











.navbar ul > li > a > span {display: inline-block; position: relative; transition: all 0.3s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;}





.navbar ul > li > a > span::before {content: attr(data-hover); position: absolute; top: 100%;}





.navbar ul > li:hover > a > span {transform: translateY(-100%);}



















/*===== NEW page =====*/



.meme_text_setting .btn-default {background: #f5f5f5 linear-gradient(to bottom, #ffffff, #e6e6e6) repeat scroll 0 0; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05); border:1px solid #d7d7d7;}



.meme_text_setting .btn-default:hover { background: #e6e6e6 none repeat scroll 0 0;  color: #333333;  text-decoration: none;}

.colorpickerContainer .sp-replacer { background: #edecec; border: 1px solid #dddddd; float: left; padding:5px 10px;}

.colorpickerContainer .sp-replacer .sp-preview {width:100% !important;}

.colorpickerContainer .sp-replacer .sp-dd{display:none;}







/*===== Home page =====*/











.main-logo{margin-top: 5px;}





.form-control{background: #edecec; border: none; height: 40px;}





.search-box .form-control{background: none; float: left; max-width: 330px; height: 40px; border: 1px solid #99a2aa; border-right: none; font-size: 12px; display: inline-block;}





.search-box .submit-btn{height: 40px; width: 40px; background: #ffffff; border: 1px solid #99a2aa; border-left: none; color: #1f282d; font-size: 16px;}











.right-top li {border-right: 1px solid #cccccc; line-height: 15px; padding: 0 10px;} 





.right-top li:last-child{border: none;}





.right-top li a{color: #cccccc; font-size: 13px;}





.right-top li a:hover{color: #16be48}













.right-btm{display: inline-block; margin-top: 16px;}





.right-btm ul li{border: 1px solid #99a2aa; color: #ffffff; float: left; padding: 0; height: 40px; font-weight: 600; display: table;}





.right-btm ul li a{background: #334455; display: table-cell; vertical-align: middle; padding: 0 18px; letter-spacing: 1px;}





.right-btm ul li a:hover{background: #333333;}

















.main-content {display: inline-block; margin-top: -30px; width: 100%;}





.left-content {display: inline-block; width: 100%;}





.left-content ul li {border: 2px solid #dddddd; display: table; float: left; margin-right: 15px; padding: 0; width: 125px; margin-bottom: 15px; vertical-align: middle; text-align: center; background: #111111;}





.left-content li:hover{border: 2px solid #16be48; }



#result_para a {display: table-cell; vertical-align: middle; cursor: pointer;}



#result_para img {width: 100%;}



/*

.filtr-container{margin: 0 10px;}



.filtr-item {padding: 0 5px; padding-bottom: 7px;}



.filtr-item a{border: 2px solid #dddddd; display: inline-block; width: 100%;}



.filtr-item a img{width: 100%;}





.filtr-item a:hover{border: 2px solid #16be48; }*/





.tooltip-inner{background: #f8f8f8; color: #000; border-radius: 0; border:2px solid #b8b7b6; padding: 8px 20px; top: 194px; font-size: 16px;}





.tooltip.top .tooltip-arrow{border-top-color: #f8f8f8;}











.recent-tag-cntn{border: 1px solid #dddddd; border-top: none; padding: 20px 15px 10px;}





.recent-tag-cntn li{margin-bottom: 10px;}





.recent-tag-cntn li a {border: 1px solid #dddddd; display: inline-block; font-size: 12px; padding: 4px 6px; cursor: pointer;}





.recent-tag-cntn li a:hover{background: #16be48; color: #ffffff;}


.footer-tag li{cursor: pointer;}

.form-meme .tagsinput {
    background: #edecec none repeat scroll 0 0 !important;
    border: 0 none !important;
    height: 50px !important;
    min-height: 50px !important;
}






.btm-cntn .search{width: 100%;}





.btm-cntn .search .form-control{height: 54px; border-color: #16be48; vertical-align: top; float: none; max-width: 430px; font-size: 14px; display: inline-block;}





.btm-cntn .search .submit-btn{border: none; height: 54px; width: 54px; background: #16be48; color: #ffffff; box-shadow: none; }











.footer{line-height: 26px;}





.footer-title{font-weight: 600; font-size: 18px; position: relative; padding-bottom: 10px;}





.footer-title:before{content: ""; position: absolute; left: 0; background: #16be48; width: 50px; height: 2px; bottom: 0;}





.menu li a{font-weight: 600; color: #666666;}





.footer li a:hover{color: #16be48;}





.social li a{background: #ebebeb; color: #16be48; height: 30px; width: 30px; line-height: 30px; display: inline-block; text-align: center;}





.social li a:hover{background: #16be48; color: #ffffff;}





.footer-tag i{color: #16be48; font-size: 16px;}





.footer-tag a {padding: 0 7px; position: relative; color: #666666;}





.footer-tag a:before{content: ""; position: absolute; background: #666666; width: 1px; height: 16px; right: 0; bottom: 1px;}





.footer-tag li:last-child a:before{display: none;}









/*.simplefilter li {background: #f8f8f8; color: #1f282d; cursor: pointer; display: inline-block; padding: 6px 15px; font-size: 14px; font-weight: 600; text-transform: capitalize;}

.simplefilter li:hover,

.simplefilter li.active {background: #16be48; color: #ffffff;}*/



















/*===== Details page =====*/











.content-box .form-control{ height: 40px; padding: 15px;}





.content-box textarea.form-control{height: 60px; text-transform: uppercase;}





.content-box select.form-control,

.mg-textbox-size.form-control {border: 1px solid #dddddd; float: left; font-size: 13px; padding: 0 10px; height: 32px; width: 130px;}





.memetags .form-control{border: 1px solid #16be48; font-size: 12px; padding: 12px 15px; height: 45px;}





.content-box .btn-lg{min-width: 170px; line-height: 50px; padding: 0; font-size: 16px; height: 50px; vertical-align: bottom;}





.img-box {float: left; width: 52%;}





.content-box {float: left; width: 44%;}





.details-page .dropdown{border: 1px solid #dddddd; padding:0px 10px; line-height: 32px; background: #edecec; width: 130px; height: 32px; float: left;}





.dropdown img{margin-right: 8px;}





.dropdown.open .dropdown-menu {border-radius: 0; min-width: 130px; padding: 10px 0;}





.details-page .dropdown-toggle .fa {font-size: 16px; color: #16be48; margin-left: 20px;}





.color-picker{border: 1px solid #dddddd; padding:7px 10px; background: #edecec; float: left; width: 60px; height: 32px;}





.color-picker fieldset{width: 100%; height: 18px;}





div.colorPicker-picker {height: 17px; width: 100%; padding: 0 !important; border: 1px solid #ccc; background: #1f282d !important; cursor: pointer; line-height: 16px; font-size:0.75em; font-weight:bold; text-align: center;}





div.colorPicker-palette {width: 110px; position: absolute; border: 1px solid #598FEF; background-color: #EFEFEF; padding: 2px; z-index: 9999;}





div.colorPicker_hexWrap {width: 100%; float:left; }





div.colorPicker_hexWrap label {display: none;}





div.colorPicker_hexWrap input {margin: 5px 2px; padding: 0; font-size: 95%; border: 1px solid #000; width: 65%;}





div.colorPicker-swatch {height: 12px; width: 12px; border: 1px solid #000; margin: 2px; float: left; cursor: pointer; line-height: 12px;}





.text-editor ul li{border: 1px solid #dddddd; float: left;}





.text-editor ul li:first-child{margin-right: 5px;}





.text-editor .btn.active{background: #e6e6e6;  background-image: none; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); outline: 0 none;}





.text-editor .btn {background: #f5f5f5; background-image: linear-gradient(to bottom, #ffffff, #e6e6e6); box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);}





.text-editor .btn:hover {background: #e6e6e6; color: #333; text-decoration: none;}





.radio label, .checkbox label{line-height: 22px; margin-top:0; margin-bottom: 0;}





.more-btn .big-btn{min-width: 155px; height: 44px; line-height: 44px; padding: 0;}











.about p{line-height: 30px;}





hr {border-color: #16be48; border-width: 2px 0 0; float: left; margin: 15px 0 30px; width: 100px;}

















.account-form {background: #f8f8f8; border: 1px solid #dddddd; padding: 30px;}





.account-form label{font-weight: 500; color: #16be48;}





.login .btn-lg{width: 100%; height: 45px; padding: 0; line-height: 45px; display: inline-block;}





.social-media .social-title{position: relative;}





.social-media .social-title::before {background: #dddddd; content: ""; height: 2px; position: absolute; left: 0; top: 50%; width: 100%;}





.social-title span {background: #f8f8f8; padding:0 10px; position: relative; z-index: 1;}





.social-media a {display: inline-block; padding: 5px 10px; font-size: 14px;}





.social-media a:hover{color: #ffffff;}





.login .big-btn {font-size: 16px; height: 40px; line-height: 40px; min-width: 220px; display: inline-block;}





.login-page.dropdown.open .dropdown-menu{right: 0; left: inherit; min-width: 450px; border-radius: 0; padding: 30px;}



.header-right .login-page.dropdown.open .row.login.dropdown-menu.account-form.text-capitalize{right: 0; left: inherit; min-width: 200px; border-radius: 0; padding: 10px;}



.header-right .login-page.dropdown.open .row.login.dropdown-menu.account-form.text-capitalize a {  display: block;}



.right-btm ul li .login .social-media a {background: none; letter-spacing: 0; display: inline-block; padding: 5px 10px;}





.right-btm ul li .login .f-password a{background: none; font-size: 14px; text-align: right; padding: 0; letter-spacing: 0; font-weight: normal; float: right;}





.form-horizontal .control-label {text-align: left; font-weight: normal; color: #16be48; padding-right: 0;}





.share-btn a {background: #16be48; color: #fff; display: inline-block; font-size: 24px; height: 40px; line-height: 40px; margin-right: 5px; width: 40px; text-align: center;}


.row.login.dropdown-menu{background-color: #334455 !important;}


.share-btn a:hover{background: #2874f0;}





.modal-dialog {margin: 150px auto;}





.modal-content{border-radius: 0;}

















.meme-title {bottom: 0; left: 5%; position: absolute; font-weight: bold;}





.success-link a {background-color: #f8f8f8; border: 1px solid #dddddd; display: inline-block; font-size: 18px; text-align: center; height: 40px; width: 40px; line-height: 40px;}





.success-link .form-control{width: auto; min-width: 300px; border: 1px solid #dddddd;}











.dropzone { border: 2px dashed #2874f0; background: white; padding: 60px 50px;}





.dropzone .dz-message { font-weight: 400; }





.dropzone .dz-message span { font-size: 20px; color: #2874f0; display: block; margin-top: 10px; }





.dropzone .fa{font-size: 100px; color: #dddddd;}





.dropzone.dz-started .dz-message {display: none;}

















 /* Mimic table appearance */





    div.table {





      display: table;





    }





    div.table .file-row {





      display: table-row;





    }





    div.table .file-row > div {





      display: table-cell;





      vertical-align: top;





      border-top: 1px solid #ddd;





      padding: 8px;





    }





    div.table .file-row:nth-child(odd) {





      background: #f9f9f9;





    }























    /* The total progress gets shown by event listeners */





    #total-progress {





      opacity: 0;





      transition: opacity 0.3s linear;





    }











    /* Hide the progress bar when finished */





    #previews .file-row.dz-success .progress {





      opacity: 0;





      transition: opacity 0.3s linear;





    }











    /* Hide the delete button initially */





    #previews .file-row .delete {





      display: none;





    }











    /* Hide the start and cancel buttons and show the delete button */











    #previews .file-row.dz-success .start,





    #previews .file-row.dz-success .cancel {





      display: none;





    }





    #previews .file-row.dz-success .delete {





      display: block;





    }









.row.login.dropdown-menu {background:none; border: 1px solid #95a3b2; box-shadow: none; font-size: 12px; margin: -1px 0 0; min-width: inherit !important; padding: 0 !important; text-align: center;

  width: 146px;}



.row.login.dropdown-menu a{background: none; padding: 7px 0; border-bottom: 1px solid #95a3b2;}

.row.login.dropdown-menu a:hover {background: #333333;}

.row.login.dropdown-menu a:last-child{border-bottom: none;}



.mg-wrapper.mg-horizontal-layout .mg-controls {width: 45% !important;}

.meme_fonsize{padding-right: 0; width: 100px;}

.colorpickerContainer{width: 70px; padding: 0 5px;}

#new_meme_share img{display: block; max-width: 100%;}

.mg-textbox .meme_text_setting{text-align: left !important;}

.mg-textbox .form-group{margin: 0px 0 10px !important; text-align: left !important;}

.mg-textbox .form-group #meme_tag{padding: 0 15px;}

#water_mark{width: auto !important;}

.content-box .mg-textbox-font.form-control{width: 125px; margin-bottom: 15px !important; margin-left: 12px !important;}



.example.save {position: relative;}



.form-meme {float: right; margin-right: 18px; margin-top: -150px; width: 345px; display: inline-block; z-index: 9 !important; position: relative;}



.form-meme .btn-lg{min-width: 170px; vertical-align: bottom; font-size: 16px; text-transform: uppercase;}



.mg-textbox.layer1 .mg-textbox-font, .mg-textbox.layer1 .meme_fonsize, .mg-textbox.layer1 .colorpickerContainer {display: none;}

.mg-textbox-text.form-control{height: 60px; margin-bottom:10px; }

.mg-wrapper.usingBootstrap .mg-controls .row:not(:last-child) { margin-bottom: 0 !important;}



.mg-wrapper .mg-helpers .draggable {border: 2px dashed #16be48 !important;}

.mg-wrapper .mg-helpers .draggable::before{border: none !important;}





.meme_text_setting .btn.active{box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05); border: 1px solid #16be48;}





.btn.btn-default.mg-text-bold {

    margin-right: 5px;

}





@media (max-width: 1200px){











.main-logo {margin-top: 8px;}





.search-box .form-control{max-width: 240px;}





.right-btm ul li a {font-size: 13px; padding: 0 11px;}





.navbar-nav > li { height: 40px; width: 156px;}





.navbar-default .navbar-nav > li > a {margin: 10px 0; font-size: 12px;}





.left-content ul li {margin-bottom: 7px; margin-right: 7px; width: 104px; height: 98px;}





.tagline{font-size: 13px;}

















/*===== Details page =====*/





.img-box {float: left; margin-right: 10px; width: 65%;}





.content-box {float: left; width: 33%;}





.content-box select.form-control {width: 140px;}





.text-editor .btn {font-size: 12px; padding: 6px 10px;}





.content-box .btn-lg {font-size: 14px; height: 40px; line-height: 40px; min-width: 120px;}











.about p {font-size: 13px; line-height: 24px;}





.social-media a {font-size: 14px;}





.login-page .btn-lg{font-size: 20px;}











}

















@media (max-width: 996px){











h1{font-size: 30px;}





.search-box .form-control {max-width: 150px; font-size: 9px; height: 30px;}





.search-box .submit-btn{height: 30px; width: 30px; font-size: 14px;}





.right-top li {padding: 0 6px;}





.right-btm {margin-top: 6px;}





.right-btm ul li {height: 30px;}





.right-btm ul li a {font-size: 10px; padding: 0 7px;}





.navbar-nav > li { width: 120px;}





.left-content ul li {margin-bottom: 10px; margin-right: 10px; height: 95px;}







.btn-sm {font-size: 13px; padding: 6px 11px;}





.btn-lg{font-size: 22px; min-width: 250px;}





.btm-cntn .search .form-control {height: 52px; max-width: 280px;}





.btm-cntn .search .submit-btn {height: 52px; width: 52px;}





.footer p{font-size: 12px;}

















/*===== Details page =====*/





.top-btn .big-btn {font-size: 13px; height: 35px; line-height: 35px; min-width: 200px;}





.img-box {float: none; margin-right: 0; width: 100%;}





.content-box {float: none; width: 80%;}





.content-box .btn-lg {font-size: 16px; height: 50px; line-height: 50px; min-width: 170px;}











.account-form {padding:30px 20px;}



/*.filtr-container {margin: 0 7px;}

.filtr-item {padding: 0 8px;}*/





}











@media (max-width: 767px){











/* Main Header */





.site-header .row{position:relative;}





.site-header {padding: 20px 0;}











/* Logo */





.main-logo{width: 180px; margin-top: 0; float: left;}





.navbar {margin: 0;}





.navbar-nav {margin: 0;}





.navbar-default .navbar-toggle{border:1px solid #ffffff; background:none; margin-bottom:0;}





.navbar-default .navbar-toggle:hover, 





.navbar-default .navbar-toggle:focus{background:none;}





.navbar-default .navbar-toggle .icon-bar{background-color:#ffffff; height: 2px; width: 22px;}





.navbar-toggle .icon-bar + .icon-bar {margin-top: 4px;}











.navbar-default .navbar-collapse, .navbar-default .navbar-form{background:#16be48; position:absolute; left:0; top:100%; width:100%; margin-top:5px; -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); -moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1); z-index: 999;}





.navbar .nav > li{margin:0; padding: 0; width: 100%; height: auto;}





.navbar-default .navbar-nav > li:before{display: none;}





.navbar .nav > li a{padding:8px 20px; color:#ffffff; font-size: 13px; width: 100%; margin: 0; text-align: left;}





.navbar ul > li > a > span::before{display: none;}





.navbar ul > li:hover > a > span {transform: inherit;}











/* Menu Hover, Active, Focus */





.navbar .nav > li.active a, .navbar .nav > li.active a:hover, .navbar .nav > li a:hover, .navbar .nav > li a:focus{color:#16be48; background-color:#ffffff;}











/* Menu Active, Hover Effect */





.navbar .nav > li a:before{content:normal;}











body{line-height: 20px; background: #ffffff;}





h1 {font-size: 24px;}





h2{font-size: 22px;}

















.search-box {position: absolute; top: 50px; width: 50%; z-index: 99;}





.search-box .form-control {font-size: 10px; height: 36px; max-width: 200px; float: none; border-right:1px solid #99a2aa;}





.search-box .submit-btn {font-size: 14px; height: 36px; width: 36px; float: left; border-left:1px solid #99a2aa; border-right:none;}





.header-right {display: inline-block; float: right; margin-top: -5px;}





.right-btm ul li {height: 30px;}





.right-btm ul li a {font-size: 13px; padding: 0 20px;}





.btn-sm {font-size: 12px;}





.main-content {margin-top: 10px;}





.left-content ul li {width: 75px; height: 70px;}





.sidebar img {display: inline-block; width: 50%;} 





.btm-cntn .search{position: inherit; top: inherit;}





.footer p {font-size: 14px;}











.content-box {width: 100%;}





.account-form {padding: 20px;}





.login-page .dropdown-menu {min-width: 440px;}





.modal-title{font-size: 18px;}











#previews.table { display: inline-block;}





/*.simplefilter li{font-size: 13px;}

.filtr-item {padding: 0 8px 10px;}*/





}









@media (max-width: 650px){





.right-btm ul li a {padding: 0 12px;}





}











@media (max-width: 600px){











.main-logo {float: none;}





.header-right{margin-top: -10px;}





.right-top {display: inline-block; position: relative; top: -10px;}





.right-btm {text-align: center; width: 100%;}





.right-btm ul{display: inline-block;}





.right-btm ul li {height: 40px;}





.right-btm ul li a {font-size: 14px; padding: 0 14px;}





.sidebar img {width: 70%;}











}













@media (max-width: 600px){











.btn-lg {font-size: 16px; min-width: 200px;}





.btm-cntn .search .form-control {max-width: 340px;}





}













@media (max-width: 479px){











h3{font-size: 22px;}





h4{font-size: 18px;}





.xs-text-left{text-align: left;}





.main-logo{width: 140px;}





.search-box {width: 70%; top: 28px;} 





.search-box .form-control {height: 36px; max-width: 150px;}





.right-top li {padding: 0 5px;  line-height: 7px;}





.right-top ul li a {font-size: 11px;}





.right-btm ul li {height: 27px;}





.right-btm ul li a {font-size: 9px; padding: 0 7px;}





.navbar {margin: -10px 0 0;}





.tagline {font-size: 12px;}





.top-btn li{margin-right: 0;}





.btn-sm {font-size: 10px; padding: 4px 7px;}





.left-content ul li {width: 66px; margin: 0 6px 6px 0;}





.btm-cntn .search .form-control {height: 42px; max-width: 190px; font-size: 10px;}





.btm-cntn .search .submit-btn {height: 42px; width: 42px;}











.details-page .top-btn ul li{width: 100%; margin-bottom: 10px;}





.top-btn .big-btn {font-size: 16px; height: 40px; line-height: 40px; min-width: 100%;}





.content-box .btn-lg {font-size: 16px; height: 40px; line-height: 40px; min-width: 160px;}





.more-btn .big-btn {font-size: 16px; height: 40px; line-height: 40px; min-width: 130px;}











.about p br{display: none;}











.account-form p {font-size: 12px;}





.account-form .btn-lg{width: 100%;} 





.login .btn-lg {height: 40px; line-height: 40px;}





.social-media a {font-size: 13px; padding: 8px 10px;}





.social-title span {font-size: 12px;}





.login .big-btn {font-size: 14px; height: 35px; line-height: 35px; min-width: 180px;}





.login-page .dropdown-menu {min-width: 280px;}





.dropzone {padding: 40px 20px;}





.dropzone .dz-message span {font-size: 16px;}





.dropzone .big-btn {min-width: 200px;}











.content-box select.form-control {margin-top: 15px; width: 130px;}







/*.col-xx-4{width: 33.333% !important;}

.tooltip-inner{font-size: 8px; padding: 3px 6px;}

.simplefilter li {font-size: 9px; padding: 4px 6px;}

.filtr-container {margin: 0 10px;}

.filtr-item {padding: 0 3px;}*/





}









@media (max-width: 375px){







.main-logo{width: 130px;}





.right-top li {padding: 0 3px;  line-height: 10px;}





.right-top ul li a {font-size: 9px;}





.btn-sm {font-size: 8px; padding: 4px 7px;}





.left-content ul li { width: 75px;}



}









@media (max-width: 374px){





.login {padding: 20px 10px;}





.social-media a {font-size: 12px; margin-right: 5px; padding: 8px;}





.social-media a:last-child {margin: 0;}





}



@media (max-width: 360px){



.left-content ul li {height: 58px; width: 61px;}



}

